@model List<CheeseMVC.Models.Menu>

<h1>Cheese Menu</h1>

@{ 
    ViewBag.Title = "Menus";
}
<h1>Menus</h1>

<p>
    <a asp-controller="Menu"
       asp-action="Add">Add Menu</a>
</p> 

<ul>
 @foreach (var item in Model)

 {
     <li>
         <a asp-controller="Menu"
            asp-action="ViewMenu"
            asp-route-id="@item.ID">@item.Name</a>
     </li>

 }
</ul>
